<div class="taskContainer">
    <input 
        type="checkbox" 
        @bind="@TaskData.isDone"
        class="checkInput"
    />
    <span class="checkbox"/>
    <div class="titleContainer">
        <span>@TaskData.title</span>
    </div>
    <IconButton 
        Icon="delete" 
        OnClick="@RemoveTask"
        Styles="removeTaskButton"
    />
</div>