<div class="container">
    <span class="title">@Title</span>
    <IconButton 
        Icon="delete" 
        OnClick="(() => RemoveTodoList.InvokeAsync())"
        Styles="removeTodoButton"
    />
    <div class="addItemContainer">
        <input placeholder="Task title ..." class="addItemInput" @bind="newTaskTitle"/>
        <RoundButton 
            Title="+" 
            Styles="roundButton addButton"
            OnClick="@AddTask"
        />
    </div>
    <div class="tasksContainer">
        @if (Tasks == null || Tasks.Count == 0) {
            <span>No tasks</span>
        } else {
            @foreach (var taskItem in Tasks) {
                <Task
                    TaskData="taskItem"
                    RemoveTask="(() => RemoveTask(taskItem))"
                />
            }
        }
    </div>
</div>