@page "/todolists"

<link href="/css/todoScreen.css" rel="stylesheet" />

<h3>Todolists</h3>

<div class="rootWrapper">
    <div class="addTodoContainer">
        <input 
            placeholder="Todolist title ..." 
            @bind="newTodolistTitle" 
            class="addItemInput"
        />
        <button @onclick="AddTodolist" class="button">Add todo</button>
    </div>
    <div class="todolistsContainer">
        @foreach (var todoItem in todoLists) {
            <Todolist
                Title="@todoItem.title"
                Tasks="@todoItem.tasks"
                RemoveTodoList="(() => RemoveTodolist(todoItem))"
            />
        }
    </div>
</div>