@page "/todolists"

<link href="/css/todo.css" rel="stylesheet" />

<h3>Todolists</h3>

@* <ul>
    @foreach (var todoItem in todoLists) {
        <li>@todoItem.Title</li>
    }
</ul> *@
<div class="container">
    <span >1231231232</span>
</div>

<input placeholder="Something todo" @bind="newTodolistTitle"/>
<button @onclick="AddTodolist">Add todo</button>

@code {
    private List<TodoItem> todoLists = new List<TodoItem>();
    private string newTodolistTitle;
    private void AddTodolist() {
        if (!string.IsNullOrWhiteSpace(newTodolistTitle)) {
            todoLists.Add(new TodoItem { Title = newTodolistTitle, IsDone = false });
            newTodolistTitle = string.Empty;
        }
    }
}
